.testing { 
  width: 30%;
}

// ================
// GENERAL STYLES
// ================

.container {
  background-color: #efefef;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  min-height: 400px;
  border-radius: 10px;
}

.mini-box {
  min-height: 190px;
  margin: 10px 0;
  padding: 0;
}

.border {
  // border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
}



// RANGE SLIDER
// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;


// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  padding: 60px 20px;
  
  @media (min-width: 600px) {
    padding: 60px;
  }
}

.range-slider {
  margin: 60px 0 0 0%;
}

// ================
// RANGE SLIDER
// ================

$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;
$range-handle-height: 30px !default;
$range-handle-width: 10px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 3px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
}

.canvas h3 {
  
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(23% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-width;
    height: $range-handle-height;
    border-radius: 15%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
  
  // Focus state
  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
                  0 0 0 6px $teal;
    }
  }
}

// Range Label
.range-slider__value {
  display: inline-block;
  position: fixed;
  left: 0;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  // margin-left: 3px;
}

// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}